# Resumen de los datos: Dimensiones y estructura

In [2]:
import pandas as pd
import os

In [3]:
datasets_dir = r'..\..\python-ml-course-master\datasets'

In [4]:
filepath = datasets_dir + os.sep + r'titanic\titanic3.csv'
data = pd.read_csv(filepath, sep=',', dtype=None, header=0, skiprows=None, 
                   index_col=None, skip_blank_lines=False, na_filter=False)

In [8]:
data.head(1)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,211.3375,B5,S,2,,"St Louis, MO"

In [9]:
data.tail(1)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
1308,3,0,"Zimmerman, Mr. Leo",male,29,0,0,315082,7.8750,,S,,,

In [7]:
n_rows, n_cols = data.shape
print('Número de filas %s, número de columnas %s' % (n_rows, n_cols))

Número de filas 1309, número de columnas 14

In [12]:
data.columns.values # vs data.columns

array(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch',
       'ticket', 'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype=object)

Resumen estadístico de las columnas numéricas

In [13]:
data.describe()

            pclass     survived        sibsp        parch
count  1309.000000  1309.000000  1309.000000  1309.000000
mean      2.294882     0.381971     0.498854     0.385027
std       0.837836     0.486055     1.041658     0.865560
min       1.000000     0.000000     0.000000     0.000000
25%       2.000000     0.000000     0.000000     0.000000
50%       3.000000     0.000000     0.000000     0.000000
75%       3.000000     1.000000     1.000000     0.000000
max       3.000000     1.000000     8.000000     9.000000

In [14]:
data.dtypes

pclass        int64
survived      int64
name         object
sex          object
age          object
sibsp         int64
parch         int64
ticket       object
fare         object
cabin        object
embarked     object
boat         object
body         object
home.dest    object
dtype: object

## Valores perdidos

In [16]:
pd.isnull(data['body']) # vs pd.notnull(data['body'])

0       False
1       False
2       False
3       False
4       False
        ...
1304    False
1305    False
1306    False
1307    False
1308    False
Name: body, Length: 1309, dtype: bool

In [17]:
pd.isnull(data['body']).values.ravel()

array([False, False, False, ..., False, False, False])

Los valores que faltan se puede deber a las siguiente razones:
* Extracción de los datos. Incompatibilidades.
* Recolección. No disponibilidad del dato.